#drop {
    min-height: 150px;
    width: 250px;
    border: 1px solid #0155a5;
    margin: 10px;
    padding: 10px;
}

/* Input value not sent if we use display:none, so this is a work around */

#file-dropdown {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#file-dropdown + label {
    cursor: pointer;
}

.im-a-label {
    color: #0155a5;
}